.idea/
*.gem
*.rbc
.bundle
.config
coverage
build
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
Gemfile.lock
app/constants/services_constants.rb

# YARD artifacts
.yardoc
_yardoc
doc/
vendor/bundle
vendor/bundle/*

vendor/Pods
vendor/.DS_Store

.repl_history
build
tags
.DS_Store
*.swp
*.swo
resources/*.nib
resources/*.momd
resources/*.storyboardc
.DS_Store
*.o
.dat*
resources/ArchiSnapper.xcdatamodeld
resources/ArchiSnapper.momd
vendor/Podfile.lock
.ruby-gemset
.ruby-version