<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2ECCF2F5A5BD5CC8F3F0B399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>934C0AF8F7AF4C77558078AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>93F8362320E0882D55110169</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96009193112BE7F9F0D4ADDF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B824FABBC6BA67EB925D26DC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
